<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>偶像梦幻祭演唱会组队~~KUMA</title>
  <meta name="keywords" content="偶像梦幻祭,演唱会,组队">
  <meta name="description" content="一个计算偶像梦幻祭演唱会组队数值的网站~~KUMA">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//cdn.bootcss.com/angular.js/1.5.8/angular.min.js"></script>
  <style>
    *{
      font-family: "Microsoft Yahei", "Simsun";
    }
    a:focus, a:hover{
      text-decoration: none;
    }
    .nowrap{
      white-space: nowrap;
    }
    .table{
      background-color: #f5f5f5;
    }
    .table>tbody>tr>td.middle{
      vertical-align: middle;
    }
    .table>tbody>tr.even{
      background-color: #e9e9e9;
    }
    .table-condensed2>tbody>tr>td{
      padding: 2px;
    }
    label{
      margin-bottom: 0;
    }
    .glyphicon{
      font-size: 14px;
    }
    .font-small, .font-small input, .font-small select{
      font-size: 12px;
    }
    .star{
      min-width: 80px;
    }
    .team-title{
      font-size: 24px;
    }
    .title-md, .btns-md{
      display: block;
    }
    .title-sm, .btns-sm{
      display: none;
    }
    .btn.pull-right{
      margin-left: 4px;
    }
    @media (max-width:550px) {
      .title-md, .btns-md{
        display: none;
      }
      .title-sm, .btns-sm{
        display: block;
      }
      .form-control{
        padding: 2px;
      }
      .table-condensed>tbody>tr>td{
        padding: 2px;
      }
      .font-small, .font-small input, .font-small select{
        font-size: 12px;
      }
      .star{
        min-width: 45px;
      }
      .team, .config{
        font-size: 12px;
      }
      .team-name{
        line-height: 1.2;
        width: 1ex;
        word-break: break-all;
        word-wrap: break-word;
        white-space: pre-wrap;
      }
      .team-value{
        margin-top: 0.3em;
      }
      .team-title{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
        padding-bottom: 5px;
      }
    }
    @media (max-width:410px) {
      .font-small, .font-small input, .font-small select{
        font-size: 11px;
      }
      .star{
        min-width: 45px;
      }
      .team, .config{
        font-size: 11px;
      }
      .team-title{
        font-size: 18px;
      }
    }
    @media (max-width:388px) {
      select.form-control{
        padding: 0;
      }
      .font-small, .font-small input, .font-small select{
        font-size: 10px;
      }
      .star{
        min-width: 40px;
      }
      .team, .config{
        font-size: 10px;
      }
    }
    @media (max-width:320px) {
      .font-small, .font-small input, .font-small select{
        font-size: 9px;
      }
      .star{
        min-width: 35px;
      }
      .team, .config{
        font-size: 9px;
      }
    }
    .ub {
      display:-webkit-box;
      display:box
    }
    .ubf1 {
      -webkit-box-flex:1;
      box-flex:1
    }
    .uov {
      -webkit-box-orient:vertical;
      box-orient:vertical
    }
    .uac {
      -webkit-box-align:center;
      box-align:center
    }
    .upc {
      -webkit-box-pack:center;
      box-pack:center
    }
  </style>
</head>
<body ng-app="esApp" ng-controller="esCtrl" style="display:none;">
<div class="container">
  <h1 class="title-md text-center">偶像梦幻祭演唱会组队</h1>
  <h3 class="title-sm text-center">偶像梦幻祭演唱会组队</h3>
  <div class="alert alert-warning alert-dismissible fade in" role="alert" ng-if="readUpdate != 'true'">
    <button type="button" class="close" data-dismiss="alert" ng-click="readUpdateFun()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    <div>2018/09/10 更新：新增Adam组合成员以及组队技能KUMA</div>
  </div>
  <p class="btns-md">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cardsModal" ng-click="loadCards()">读取/备份卡片数据</button>
    <button type="button" class="btn btn-primary" ng-if="configCharacterShow == false" ng-click="configCharacter(true)">配置角色</button>
    <button type="button" class="btn btn-info" ng-if="configCharacterShow == true" ng-click="configCharacter(false)">隐藏配置</button>
    <button type="button" class="btn btn-primary" ng-if="configTeamShow == false" ng-click="configTeam(true)">配置技能</button>
    <button type="button" class="btn btn-info" ng-if="configTeamShow == true" ng-click="configTeam(false)">隐藏配置</button>
    <button type="button" class="btn btn-danger pull-right" ng-click="buildTeam()" ng-if="teamShow == false">生成组队</button>
    <button type="button" class="btn btn-info pull-right" ng-click="hideTeam()" ng-if="teamShow == true">隐藏组队</button>
    <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#profileModal">说明</button>
  </p>
  <p class="btns-sm">
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#cardsModal" ng-click="loadCards()">读取/备份卡片数据</button>
    <button type="button" class="btn btn-info btn-sm pull-right" data-toggle="modal" data-target="#profileModal">说明</button>
  </p>
  <p class="btns-sm">
    <button type="button" class="btn btn-primary btn-sm" ng-if="configCharacterShow == false" ng-click="configCharacter(true)">配置角色</button>
    <button type="button" class="btn btn-info btn-sm" ng-if="configCharacterShow == true" ng-click="configCharacter(false)">隐藏配置</button>
    <button type="button" class="btn btn-primary btn-sm" ng-if="configTeamShow == false" ng-click="configTeam(true)">配置技能</button>
    <button type="button" class="btn btn-info btn-sm" ng-if="configTeamShow == true" ng-click="configTeam(false)">隐藏配置</button>
    <button type="button" class="btn btn-danger btn-sm pull-right" ng-click="buildTeam()" ng-if="teamShow == false">生成组队</button>
    <button type="button" class="btn btn-info btn-sm pull-right" ng-click="hideTeam()" ng-if="teamShow == true">隐藏组队</button>
  </p>
  <div class="modal fade" id="cardsModal" tabindex="1" role="dialog" aria-labelledby="cardsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="cardsModalLabel">读取/备份卡片数据</h4>
        </div>
        <div class="modal-body">
          <textarea class="form-control" rows="12" ng-model="cardsJson"></textarea>
          <div class="text-info">可以复制里面的内容，放到QQ收藏等常用的网络记事本内~KUMA<br/>下次需要使用时，粘贴上，点击读取数据即可还原卡片数据~KUMA</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="loadCardsJson()">读取数据</button>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeCardsModal">清空卡片数据</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="removeCardsModal" tabindex="2" role="dialog" aria-labelledby="removeCardsModalLabel" aria-hidden="true" style="top:160px;">
    <div class="modal-dialog modal-md">
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4>确定要清空卡片数据吗？</h4>
        <p>这会将您填写的所有卡片数据清空，还原到初始的状态哦KUMA</p>
        <p>
          <button type="button" class="btn btn-danger" ng-click="removeCardsJson()">确定清空卡片数据</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </p>
      </div>
    </div>
  </div>
  <div class="modal fade" id="profileModal" tabindex="1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="profileModalLabel">说明</h4>
        </div>
        <div class="modal-body text-info">
          <div>首先要先填入你的卡片数据，至少要填入<span class="text-danger">15张</span>，然后点击 <strong class="text-danger">生成组队</strong> 就可以按照游戏内的组合技能，计算出数值最高的队伍KUMA</div>
          <div class="text-warning">因为没有WIKI...所有没法获得所有卡片的数据，只能是自己填数值...KUMA</div>
          <div><a href="javascript:;" class="glyphicon glyphicon-plus text-primary" title="新增卡片"></a> 这个是在此卡片下面增加一张卡片KUMA</div>
          <div><a href="javascript:;" class="glyphicon glyphicon-remove text-danger" title="删除此卡片"></a> 这个是删除这张卡片KUMA</div>
          <div><a href="javascript:;" class="glyphicon glyphicon-arrow-up text-success" title="上移"></a> 这个是将此卡片向上移动KUMA</div>
          <div><a href="javascript:;" class="glyphicon glyphicon-arrow-down text-success" title="下移"></a> 这个是将此卡片向下移动KUMA</div>
          <div><strong>卡名</strong> 是标志，是给您看出是哪张卡的，可填可不填KUMA</div>
          <div><strong>星级</strong> 和 <strong>等级</strong> 只和计算倍卡数据有关，不是倍卡也可以不用理...KUMA</div>
          <div>卡片数据有本地缓存，不清除的情况下，刷新和下次打开，数据还是存在的，不过还是推荐备份卡片数据，可以电脑、手机上都能用的说KUMA</div>
          <div class="text-warning">2LP前特大需要333334才能不触发技能情况下100%过的，2LP后特大需要50W，3LP紧急需要总值50W...KUMA</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="errorModal" tabindex="100" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true" style="top:160px;">
    <div class="modal-dialog modal-md">
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4>提示</h4>
        <p>{{errorText}}</p>
      </div>
    </div>
  </div>

  <div class="configCharacter" ng-if="configCharacterShow == true">
    <div class="page-header team-title">配置角色数据</div>
    <p class="btns-md">
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#characterModal" ng-click="loadCharacter()">读取/备份角色数据</button>
    </p>
    <p class="btns-sm">
      <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#characterModal" ng-click="loadCharacter()">读取/备份角色数据</button>
    </p>
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      如果游戏新增了人物，可以在这里增加，再去增加组合技能，如果我有空增加了，会强制清除角色和组合技能的缓存KUMA
    </div>
    <table class="table table-bordered text-center config">
      <tbody>
      <tr ng-repeat="(i_1, c_1) in character" ng-if="i_1 % 4 == 0">
        <td class="middle" ng-repeat="(i_2, c_2) in character" ng-if="i_2 - i_1 >= 0 && i_2 - i_1 < 4">
          <span ng-if="characterEdit[i_2] != true">{{c_2}}</span>
          <input type="text" class="form-control input-sm" name="character[{{i_2}}]" placeholder="请输入角色名字" ng-model="c_2" ng-if="i_2 >= originalCharacter.length && characterEdit[i_2] == true">
          <a href="javascript:;" class="glyphicon glyphicon-check text-success" ng-if="i_2 >= originalCharacter.length && characterEdit[i_2] == true" ng-click="confirmCharacter(i_2)"></a>
          <a href="javascript:;" class="glyphicon glyphicon-edit text-primary" ng-if="i_2 >= originalCharacter.length && characterEdit[i_2] != true" ng-click="editCharacter(i_2)"></a>
          <a href="javascript:;" class="glyphicon glyphicon-remove text-danger" ng-if="i_2 >= originalCharacter.length" ng-click="delCharacter(i_2)"></a>
        </td>
        <td class="middle" ng-if="parseInt(i_1 / 4) == parseInt(character.length / 4) && character.length % 4 != 0 && characterEdit[character.length - 1] != true">
          <a href="javascript:;" class="glyphicon glyphicon-plus text-success" ng-click="addCharacter()"></a>
        </td>
        <td class="middle" ng-if="parseInt(i_1 / 4) == parseInt(character.length / 4) && character.length % 4 < 4 && character.length % 4 > 0 && characterEdit[character.length - 1] == true"></td>
        <td class="middle" ng-if="parseInt(i_1 / 4) == parseInt(character.length / 4) && character.length % 4 < 3 && character.length % 4 > 0"></td>
        <td class="middle" ng-if="parseInt(i_1 / 4) == parseInt(character.length / 4) && character.length % 4 < 2 && character.length % 4 > 0"></td>
      </tr>
      <tr ng-if="character.length % 4 == 0 && characterEdit[character.length - 1] != true">
        <td class="middle">
          <a href="javascript:;" class="glyphicon glyphicon-plus text-success" ng-click="addCharacter()"></a>
        </td>
        <td class="middle"></td>
        <td class="middle"></td>
        <td class="middle"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="modal fade" id="characterModal" tabindex="1" role="dialog" aria-labelledby="characterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="characterModalLabel">读取/备份角色数据</h4>
        </div>
        <div class="modal-body">
          <textarea class="form-control" rows="12" ng-model="characterJson"></textarea>
          <div class="text-info">可以复制里面的内容，放到QQ收藏等常用的网络记事本内~KUMA<br/>下次需要使用时，粘贴上，点击读取数据即可还原角色数据~KUMA</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="loadCharacterJson()">读取数据</button>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeCharacterModal">重置角色数据</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="removeCharacterModal" tabindex="2" role="dialog" aria-labelledby="removeCharacterModalLabel" aria-hidden="true" style="top:160px;">
    <div class="modal-dialog modal-md">
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4>确定要重置角色数据吗？</h4>
        <p>这会将您新增的所有角色数据清空，还原到初始的状态哦KUMA</p>
        <p>
          <button type="button" class="btn btn-danger" ng-click="removeCharacterJson()">确定重置角色数据</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </p>
      </div>
    </div>
  </div>

  <div class="configTeam" ng-if="configTeamShow == true">
    <div class="page-header team-title">配置组合技能数据</div>
    <p class="btns-md">
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#teamsModal" ng-click="loadTeams()">读取/备份组合技能数据</button>
    </p>
    <p class="btns-sm">
      <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#teamsModal" ng-click="loadTeams()">读取/备份组合技能数据</button>
    </p>
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      如果临时技能有误，可以在这里配置正确的临时技能，或者游戏增加新人物，改变了组合技能，可以在这里配置新的组合技能，如果我有空增加了，会强制清除角色和组合技能的缓存KUMA
    </div>
    <div class="visible-lg-block">
      <table class="table table-bordered text-center config">
        <thead>
        <tr>
          <td class="middle">技能名</td>
          <td class="middle" style="width:120px;">属性</td>
          <td class="middle" style="width:80px;">提升</td>
          <td class="middle">角色1</td>
          <td class="middle">角色2</td>
          <td class="middle">角色3</td>
          <td class="middle">角色4</td>
          <td class="middle">角色5</td>
          <td class="middle">操作</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(index, t) in teams">
          <td class="middle" ng-class="teamClass(index)">
            <span ng-if="teamEdit[index] != true">{{t.name}}</span>
            <input type="text" class="form-control" placeholder="请输入技能名" ng-model="t.name" ng-if="teamEdit[index] == true">
          </td>
          <td class="middle" ng-class="teamClass(index)" ng-if="teamEdit[index] != true && t.ability == 'da'">舞蹈</td>
          <td class="middle" ng-class="teamClass(index)" ng-if="teamEdit[index] != true && t.ability == 'vo'">声乐</td>
          <td class="middle" ng-class="teamClass(index)" ng-if="teamEdit[index] != true && t.ability == 'pf'">表演</td>
          <td class="middle" ng-class="teamClass(index)" ng-if="teamEdit[index] == true">
            <select class="form-control" ng-model="t.ability">
              <option ng-repeat="a in ability" value="{{a.ability}}">{{a.name}}</option>
            </select>
          </td>
          <td class="middle" ng-class="teamClass(index)">
            <span ng-if="teamEdit[index] != true">{{t.value}}%</span>
            <div class="ub uac" ng-if="teamEdit[index] == true"><input type="number" class="form-control ubf1" placeholder="请输入技能提升百分数" ng-model="t.value">%</div>
          </td>
          <td class="middle" ng-class="teamClass(index)">
            <span ng-if="teamEdit[index] != true">{{t.member[0]}}</span>
            <select class="form-control" ng-model="t.member[0]" ng-if="teamEdit[index] == true">
              <option ng-repeat="c in character" value="{{c}}" ng-if="c != t.member[1] && c != t.member[2] && c != t.member[3] && c != t.member[4]">{{c}}</option>
            </select>
          </td>
          <td class="middle" ng-class="teamClass(index)">
            <span ng-if="teamEdit[index] != true">{{t.member[1]}}</span>
            <select class="form-control" ng-model="t.member[1]" ng-if="teamEdit[index] == true">
              <option value="">选择角色</option>
              <option ng-repeat="c in character" value="{{c}}" ng-if="c != t.member[0] && c != t.member[2] && c != t.member[3] && c != t.member[4]">{{c}}</option>
            </select>
          </td>
          <td class="middle" ng-class="teamClass(index)">
            <span ng-if="teamEdit[index] != true">{{t.member[2]}}</span>
            <select class="form-control" ng-model="t.member[2]" ng-if="teamEdit[index] == true">
              <option value="">选择角色</option>
              <option ng-repeat="c in character" value="{{c}}" ng-if="c != t.member[0] && c != t.member[1] && c != t.member[3] && c != t.member[4]">{{c}}</option>
            </select>
          </td>
          <td class="middle" ng-class="teamClass(index)">
            <span ng-if="teamEdit[index] != true">{{t.member[3]}}</span>
            <select class="form-control" ng-model="t.member[3]" ng-if="teamEdit[index] == true">
              <option value="">选择角色</option>
              <option ng-repeat="c in character" value="{{c}}" ng-if="c != t.member[0] && c != t.member[1] && c != t.member[2] && c != t.member[4]">{{c}}</option>
            </select>
          </td>
          <td class="middle" ng-class="teamClass(index)">
            <span ng-if="teamEdit[index] != true">{{t.member[4]}}</span>
            <select class="form-control" ng-model="t.member[4]" ng-if="teamEdit[index] == true">
              <option value="">选择角色</option>
              <option ng-repeat="c in character" value="{{c}}" ng-if="c != t.member[0] && c != t.member[1] && c != t.member[2] && c != t.member[3]">{{c}}</option>
            </select>
          </td>
          <td class="middle" ng-class="teamClass(index)">
            <a href="javascript:;" class="glyphicon glyphicon-check text-success" ng-if="teamEdit[index] == true" ng-click="confirmTeam(index)"></a>
            <a href="javascript:;" class="glyphicon glyphicon-edit text-primary" ng-if="teamEdit[index] != true" ng-click="editTeam(index)"></a>
            <a href="javascript:;" class="glyphicon glyphicon-remove text-danger" ng-if="t.del == true" ng-click="delTeam(index)"></a>
          </td>
        </tr>
        <tr ng-if="teamEdit[teams.length - 1] != true">
          <td class="middle"></td>
          <td class="middle"></td>
          <td class="middle"></td>
          <td class="middle"></td>
          <td class="middle"></td>
          <td class="middle"></td>
          <td class="middle"></td>
          <td class="middle"></td>
          <td class="middle">
            <a href="javascript:;" class="glyphicon glyphicon-plus text-success" ng-click="addTeam()"></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="hidden-lg">
      <table class="table table-bordered table-condensed text-center font-small">
        <colgroup>
          <col width="20%">
          <col width="20%">
          <col width="20%">
          <col width="20%">
          <col width="20%">
        </colgroup>
        <tbody ng-repeat="(index, t) in teams">
        <tr>
          <td colspan="2" class="middle" ng-class="teamClass(index)">
            <label>技能名</label>
            <div ng-if="teamEdit[index] != true">{{t.name}}</div>
            <input type="text" class="form-control input-sm" placeholder="请输入技能名" ng-model="t.name" ng-if="teamEdit[index] == true">
          </td>
          <td class="middle" ng-class="teamClass(index)" ng-if="teamEdit[index] != true && t.ability == 'da'">
            <label>属性</label>
            <div>舞蹈</div>
          </td>
          <td class="middle" ng-class="teamClass(index)" ng-if="teamEdit[index] != true && t.ability == 'vo'">
            <label>属性</label>
            <div>声乐</div>
          </td>
          <td class="middle" ng-class="teamClass(index)" ng-if="teamEdit[index] != true && t.ability == 'pf'">
            <label>属性</label>
            <div>表演</div>
          </td>
          <td class="middle" ng-class="teamClass(index)" ng-if="teamEdit[index] == true">
            <label>属性</label>
            <select class="form-control" ng-model="t.ability">
              <option ng-repeat="a in ability" value="{{a.ability}}">{{a.name}}</option>
            </select>
          </td>
          <td class="middle" ng-class="teamClass(index)">
            <label>提升</label>
            <div ng-if="teamEdit[index] != true">{{t.value}}%</div>
            <div class="ub uac" ng-if="teamEdit[index] == true"><input type="number" class="form-control input-sm ubf1" placeholder="请输入技能提升百分数" ng-model="t.value">%</div>
          </td>
          <td class="middle" ng-class="teamClass(index)">
            <label>操作</label>
            <div ng-if="teamEdit[index] == true"><a href="javascript:;" class="glyphicon glyphicon-check text-success" ng-click="confirmTeam(index)"></a></div>
            <div ng-if="teamEdit[index] != true"><a href="javascript:;" class="glyphicon glyphicon-edit text-primary" ng-click="editTeam(index)"></a></div>
            <div ng-if="t.del == true"><a href="javascript:;" class="glyphicon glyphicon-remove text-danger" ng-click="delTeam(index)"></a></div>
          </td>
        </tr>
        <tr>
          <td class="middle" ng-class="teamClass(index)">
            <label>角色1</label>
            <div ng-if="teamEdit[index] != true">{{t.member[0]}}</div>
            <select class="form-control" ng-model="t.member[0]" ng-if="teamEdit[index] == true">
              <option ng-repeat="c in character" value="{{c}}" ng-if="c != t.member[1] && c != t.member[2] && c != t.member[3] && c != t.member[4]">{{c}}</option>
            </select>
          </td>
          <td class="middle" ng-class="teamClass(index)">
            <label>角色2</label>
            <div ng-if="teamEdit[index] != true">{{t.member[1]}}</div>
            <div ng-if="teamEdit[index] != true && t.member[1] == null">&nbsp;</div>
            <select class="form-control" ng-model="t.member[1]" ng-if="teamEdit[index] == true">
              <option value="">选择角色</option>
              <option ng-repeat="c in character" value="{{c}}" ng-if="c != t.member[0] && c != t.member[2] && c != t.member[3] && c != t.member[4]">{{c}}</option>
            </select>
          </td>
          <td class="middle" ng-class="teamClass(index)">
            <label>角色3</label>
            <div ng-if="teamEdit[index] != true">{{t.member[2]}}</div>
            <div ng-if="teamEdit[index] != true && t.member[2] == null">&nbsp;</div>
            <select class="form-control" ng-model="t.member[2]" ng-if="teamEdit[index] == true">
              <option value="">选择角色</option>
              <option ng-repeat="c in character" value="{{c}}" ng-if="c != t.member[0] && c != t.member[1] && c != t.member[3] && c != t.member[4]">{{c}}</option>
            </select>
          </td>
          <td class="middle" ng-class="teamClass(index)">
            <label>角色4</label>
            <div ng-if="teamEdit[index] != true">{{t.member[3]}}</div>
            <div ng-if="teamEdit[index] != true && t.member[3] == null">&nbsp;</div>
            <select class="form-control" ng-model="t.member[3]" ng-if="teamEdit[index] == true">
              <option value="">选择角色</option>
              <option ng-repeat="c in character" value="{{c}}" ng-if="c != t.member[0] && c != t.member[1] && c != t.member[2] && c != t.member[4]">{{c}}</option>
            </select>
          </td>
          <td class="middle" ng-class="teamClass(index)">
            <label>角色5</label>
            <div ng-if="teamEdit[index] != true">{{t.member[4]}}</div>
            <div ng-if="teamEdit[index] != true && t.member[4] == null">&nbsp;</div>
            <select class="form-control" ng-model="t.member[4]" ng-if="teamEdit[index] == true">
              <option value="">选择角色</option>
              <option ng-repeat="c in character" value="{{c}}" ng-if="c != t.member[0] && c != t.member[1] && c != t.member[2] && c != t.member[3]">{{c}}</option>
            </select>
          </td>
        </tr>
        </tbody>
        <tbody>
        <tr ng-if="teamEdit[teams.length - 1] != true">
          <td class="middle"></td>
          <td class="middle"></td>
          <td class="middle"></td>
          <td class="middle"></td>
          <td class="middle">
            <label>新增</label>
            <div><a href="javascript:;" class="glyphicon glyphicon-plus text-success" ng-click="addTeam()"></a></div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal fade" id="teamsModal" tabindex="1" role="dialog" aria-labelledby="teamsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="teamsModalLabel">读取/备份组合技能数据</h4>
        </div>
        <div class="modal-body">
          <textarea class="form-control" rows="12" ng-model="teamsJson"></textarea>
          <div class="text-info">可以复制里面的内容，放到QQ收藏等常用的网络记事本内~KUMA<br/>下次需要使用时，粘贴上，点击读取数据即可还原组合技能数据~KUMA</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="loadTeamsJson()">读取数据</button>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeTeamsModal">重置组合技能数据</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="removeTeamsModal" tabindex="2" role="dialog" aria-labelledby="removeTeamsModalLabel" aria-hidden="true" style="top:160px;">
    <div class="modal-dialog modal-md">
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4>确定要重置组合技能数据吗？</h4>
        <p>这会将您新增的所有组合技能数据清空，还原到初始的状态哦KUMA</p>
        <p>
          <button type="button" class="btn btn-danger" ng-click="removeTeamsJson()">确定重置组合技能数据</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </p>
      </div>
    </div>
  </div>

  <div class="team" ng-if="teamShow">
    <div class="page-header team-title">舞蹈（<span class="text-danger">红</span>）合计值最大</div>
    <table class="table table-bordered text-center">
      <tbody>
      <tr>
        <td class="middle danger">技能</td>
        <td class="middle danger">
          <div>合计值</div>
          <div>{{da_max_team.da}}</div>
        </td>
        <td class="middle danger">
          <div>前两队</div>
          <div>{{da_max_team.team[0].da + da_max_team.team[1].da}}</div>
        </td>
        <td class="middle danger">
          <div>第一队</div>
          <div>{{da_max_team.team[0].da}}</div>
        </td>
        <td class="middle danger">
          <div>第二队</div>
          <div>{{da_max_team.team[1].da}}</div>
        </td>
        <td class="middle danger">
          <div>第三队</div>
          <div>{{da_max_team.team[2].da}}</div>
        </td>
      </tr>
      <tr ng-repeat="(t_i, team) in da_max_team.team">
        <td class="middle danger">
          <div class="ub uov uac">
            <div class="team-name" ng-if="team.name!='no_team'">{{team.name}}</div>
            <div class="team-value nowrap" ng-if="team.name!='no_team'">{{team.value}}%</div>
          </div>
        </td>
        <td class="middle" ng-repeat="(c_i, card) in team.card" ng-class="cardColor(card)">
          <div>{{card.star}}★</div>
          <div ng-if="card.name!=''">【{{card.name}}】</div>
          <div>{{card.character}}</div>
          <div ng-class="timesClass(card)">{{timesVal(card, card.da)}}</div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="page-header team-title">舞蹈（<span class="text-danger">红</span>）前两队最大</div>
    <table class="table table-bordered text-center">
      <tbody>
      <tr>
        <td class="middle danger">技能</td>
        <td class="middle danger">
          <div>合计值</div>
          <div>{{da_max_team_2.da}}</div>
        </td>
        <td class="middle danger">
          <div>前两队</div>
          <div>{{da_max_team_2.team[0].da + da_max_team_2.team[1].da}}</div>
        </td>
        <td class="middle danger">
          <div>第一队</div>
          <div>{{da_max_team_2.team[0].da}}</div>
        </td>
        <td class="middle danger">
          <div>第二队</div>
          <div>{{da_max_team_2.team[1].da}}</div>
        </td>
        <td class="middle danger">
          <div>第三队</div>
          <div>{{da_max_team_2.team[2].da}}</div>
        </td>
      </tr>
      <tr ng-repeat="(t_i, team) in da_max_team_2.team">
        <td class="middle danger">
          <div class="ub uov uac">
            <div class="team-name" ng-if="team.name!='no_team'">{{team.name}}</div>
            <div class="team-value nowrap" ng-if="team.name!='no_team'">{{team.value}}%</div>
          </div>
        </td>
        <td class="middle" ng-repeat="(c_i, card) in team.card" ng-class="cardColor(card)">
          <div>{{card.star}}★</div>
          <div ng-if="card.name!=''">【{{card.name}}】</div>
          <div>{{card.character}}</div>
          <div ng-class="timesClass(card)">{{timesVal(card, card.da)}}</div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="page-header team-title">声乐（<span class="text-primary">蓝</span>）合计值最大</div>
    <table class="table table-bordered text-center">
      <tbody>
      <tr>
        <td class="middle info">技能</td>
        <td class="middle info">
          <div>合计值</div>
          <div>{{vo_max_team.vo}}</div>
        </td>
        <td class="middle info">
          <div>前两队</div>
          <div>{{vo_max_team.team[0].vo + vo_max_team.team[1].vo}}</div>
        </td>
        <td class="middle info">
          <div>第一队</div>
          <div>{{vo_max_team.team[0].vo}}</div>
        </td>
        <td class="middle info">
          <div>第二队</div>
          <div>{{vo_max_team.team[1].vo}}</div>
        </td>
        <td class="middle info">
          <div>第三队</div>
          <div>{{vo_max_team.team[2].vo}}</div>
        </td>
      </tr>
      <tr ng-repeat="(t_i, team) in vo_max_team.team">
        <td class="middle info">
          <div class="ub uov uac">
            <div class="team-name" ng-if="team.name!='no_team'">{{team.name}}</div>
            <div class="team-value nowrap" ng-if="team.name!='no_team'">{{team.value}}%</div>
          </div>
        </td>
        <td class="middle" ng-repeat="(c_i, card) in team.card" ng-class="cardColor(card)">
          <div>{{card.star}}★</div>
          <div ng-if="card.name!=''">【{{card.name}}】</div>
          <div>{{card.character}}</div>
          <div ng-class="timesClass(card)">{{timesVal(card, card.vo)}}</div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="page-header team-title">声乐（<span class="text-primary">蓝</span>）前两队最大</div>
    <table class="table table-bordered text-center">
      <tbody>
      <tr>
        <td class="middle info">技能</td>
        <td class="middle info">
          <div>合计值</div>
          <div>{{vo_max_team_2.vo}}</div>
        </td>
        <td class="middle info">
          <div>前两队</div>
          <div>{{vo_max_team_2.team[0].vo + vo_max_team_2.team[1].vo}}</div>
        </td>
        <td class="middle info">
          <div>第一队</div>
          <div>{{vo_max_team_2.team[0].vo}}</div>
        </td>
        <td class="middle info">
          <div>第二队</div>
          <div>{{vo_max_team_2.team[1].vo}}</div>
        </td>
        <td class="middle info">
          <div>第三队</div>
          <div>{{vo_max_team_2.team[2].vo}}</div>
        </td>
      </tr>
      <tr ng-repeat="(t_i, team) in vo_max_team_2.team">
        <td class="middle info">
          <div class="ub uov uac">
            <div class="team-name" ng-if="team.name!='no_team'">{{team.name}}</div>
            <div class="team-value nowrap" ng-if="team.name!='no_team'">{{team.value}}%</div>
          </div>
        </td>
        <td class="middle" ng-repeat="(c_i, card) in team.card" ng-class="cardColor(card)">
          <div>{{card.star}}★</div>
          <div ng-if="card.name!=''">【{{card.name}}】</div>
          <div>{{card.character}}</div>
          <div ng-class="timesClass(card)">{{timesVal(card, card.vo)}}</div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="page-header team-title">表演（<span class="text-warning">黄</span>）合计值最大</div>
    <table class="table table-bordered text-center">
      <tbody>
      <tr>
        <td class="middle warning">技能</td>
        <td class="middle warning">
          <div>合计值</div>
          <div>{{pf_max_team.pf}}</div>
        </td>
        <td class="middle warning">
          <div>前两队</div>
          <div>{{pf_max_team.team[0].pf + pf_max_team.team[1].pf}}</div>
        </td>
        <td class="middle warning">
          <div>第一队</div>
          <div>{{pf_max_team.team[0].pf}}</div>
        </td>
        <td class="middle warning">
          <div>第二队</div>
          <div>{{pf_max_team.team[1].pf}}</div>
        </td>
        <td class="middle warning">
          <div>第三队</div>
          <div>{{pf_max_team.team[2].pf}}</div>
        </td>
      </tr>
      <tr ng-repeat="(t_i, team) in pf_max_team.team">
        <td class="middle warning">
          <div class="ub uov uac">
            <div class="team-name" ng-if="team.name!='no_team'">{{team.name}}</div>
            <div class="team-value nowrap" ng-if="team.name!='no_team'">{{team.value}}%</div>
          </div>
        </td>
        <td class="middle" ng-repeat="(c_i, card) in team.card" ng-class="cardColor(card)">
          <div>{{card.star}}★</div>
          <div ng-if="card.name!=''">【{{card.name}}】</div>
          <div>{{card.character}}</div>
          <div ng-class="timesClass(card)">{{timesVal(card, card.pf)}}</div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="page-header team-title">表演（<span class="text-warning">黄</span>）前两队最大</div>
    <table class="table table-bordered text-center">
      <tbody>
      <tr>
        <td class="middle warning">技能</td>
        <td class="middle warning">
          <div>合计值</div>
          <div>{{pf_max_team_2.pf}}</div>
        </td>
        <td class="middle warning">
          <div>前两队</div>
          <div>{{pf_max_team_2.team[0].pf + pf_max_team_2.team[1].pf}}</div>
        </td>
        <td class="middle warning">
          <div>第一队</div>
          <div>{{pf_max_team_2.team[0].pf}}</div>
        </td>
        <td class="middle warning">
          <div>第二队</div>
          <div>{{pf_max_team_2.team[1].pf}}</div>
        </td>
        <td class="middle warning">
          <div>第三队</div>
          <div>{{pf_max_team_2.team[2].pf}}</div>
        </td>
      </tr>
      <tr ng-repeat="(t_i, team) in pf_max_team_2.team">
        <td class="middle warning">
          <div class="ub uov uac">
            <div class="team-name" ng-if="team.name!='no_team'">{{team.name}}</div>
            <div class="team-value nowrap" ng-if="team.name!='no_team'">{{team.value}}%</div>
          </div>
        </td>
        <td class="middle" ng-repeat="(c_i, card) in team.card" ng-class="cardColor(card)">
          <div>{{card.star}}★</div>
          <div ng-if="card.name!=''">【{{card.name}}】</div>
          <div>{{card.character}}</div>
          <div ng-class="timesClass(card)">{{timesVal(card, card.pf)}}</div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="page-header team-title">总合计值最大</div>
    <table class="table table-bordered text-center">
      <tbody>
      <tr>
        <td class="middle warning">技能</td>
        <td class="middle info">
          <div>合计值</div>
          <div>{{all_max_team.all}}</div>
        </td>
        <td class="middle info">
          <div>前两队</div>
          <div>{{all_max_team.team[0].all + all_max_team.team[1].all}}</div>
        </td>
        <td class="middle warning">
          <div>第一队</div>
          <div>{{all_max_team.team[0].all}}</div>
        </td>
        <td class="middle warning">
          <div>第二队</div>
          <div>{{all_max_team.team[1].all}}</div>
        </td>
        <td class="middle warning">
          <div>第三队</div>
          <div>{{all_max_team.team[2].all}}</div>
        </td>
      </tr>
      <tr ng-repeat="(t_i, team) in all_max_team.team">
        <td class="middle warning">
          <div class="ub uov uac">
            <div class="team-name" ng-if="team.name!='no_team'">{{team.name}}</div>
            <div class="team-value nowrap" ng-if="team.name!='no_team'">{{team.value}}%</div>
          </div>
        </td>
        <td class="middle" ng-repeat="(c_i, card) in team.card" ng-class="cardColor(card)">
          <div>{{card.star}}★</div>
          <div ng-if="card.name!=''">【{{card.name}}】</div>
          <div>{{card.character}}</div>
          <div ng-class="timesClass(card)"><span class="text-danger">舞蹈 {{timesVal(card, card.da)}}</span></div>
          <div ng-class="timesClass(card)"><span class="text-primary">声乐 {{timesVal(card, card.vo)}}</span></div>
          <div ng-class="timesClass(card)"><span class="text-warning">表演 {{timesVal(card, card.pf)}}</span></div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="temporary-team">
    <div class="page-header team-title">临时组合技能</div>
    <select class="form-control config" ng-model="selectedTemporaryTeam" ng-options="(t.name + (t.ability == '' ? '' : '-' + (t.ability == 'da' ? '舞蹈(红)' : (t.ability == 'vo' ? '声乐(蓝)' : '表演(黄)')) + t.value + '%') + (t.member.length == 0 ? '' : '-' + t.member[0] + (t.member[1] == null ? '' : (',' + t.member[1])) + (t.member[2] == null ? '' : (',' + t.member[2])) + (t.member[3] == null ? '' : (',' + t.member[3])) + (t.member[4] == null ? '' : (',' + t.member[4])))) for t in temporary_team"></select>
  </div>
  <form role="form">
    <div class="page-header team-title">卡片列表</div>
    <div class="visible-lg-block">
      <table class="table table-bordered text-center">
        <thead>
        <tr>
          <td><label class="nowrap">序号</label></td>
          <td class="star"><label>星级</label></td>
          <td style="width:130px;"><label>等级</label></td>
          <td><label>卡名</label></td>
          <td><label>角色</label></td>
          <td class="danger"><label>舞蹈（<span class="text-danger">红</span>）</label></td>
          <td class="info"><label>声乐（<span class="text-primary">蓝</span>）</label></td>
          <td class="warning"><label>表演（<span class="text-warning">黄</span>）</label></td>
          <td><label>倍卡</label></td>
          <td><label>操作</label></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(index, card) in cards">
          <td class="middle">
            {{index + 1}}
          </td>
          <td class="middle">
            <select class="form-control" ng-model="card.star" ng-options="s for s in star" ng-change="levelChange(index)"></select>
          </td>
          <td class="middle">
            <select class="form-control" ng-model="card.level" ng-options="l for l in level[card.star]"></select>
          </td>
          <td class="middle">
            <input type="text" class="form-control" placeholder="请输入卡名" ng-model="card.name">
          </td>
          <td class="middle">
            <select class="form-control" ng-model="card.character" ng-options="c for c in character"></select>
          </td>
          <td class="middle danger">
            <input type="number" class="form-control" placeholder="请输入舞蹈数值" ng-model="card.da">
          </td>
          <td class="middle info">
            <input type="number" class="form-control" placeholder="请输入声乐数值" ng-model="card.vo">
          </td>
          <td class="middle warning">
            <input type="number" class="form-control" placeholder="请输入表演数值" ng-model="card.pf">
          </td>
          <td class="middle">
            <label ng-click="times_radio(index, true)"><input type="radio" name="times-{{index}}" value="true" ng-checked="card.times==true">是</label>
            <label ng-click="times_radio(index, false)"><input type="radio" name="times-{{index}}" value="false" ng-checked="card.times==false">否</label>
          </td>
          <td class="middle">
            <table class="table-condensed2 text-center">
              <tr>
                <td class="middle"><a href="javascript:;" class="glyphicon glyphicon-plus text-primary" title="新增卡片" ng-click="cardAdd(index)"></a></td>
                <td class="middle"><a href="javascript:;" class="glyphicon glyphicon-remove text-danger" title="删除此卡片" ng-click="cardRemove(index)" ng-if="cards.length>1"></a></td>
              </tr>
              <tr>
                <td class="middle"><a href="javascript:;" class="glyphicon glyphicon-arrow-up text-success" title="上移" ng-click="cardUp(index)" ng-if="index > 0"></a></td>
                <td class="middle"><a href="javascript:;" class="glyphicon glyphicon-arrow-down text-success" title="下移" ng-click="cardDown(index)" ng-if="index < cards.length-1"></a></td>
              </tr>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="hidden-lg">
      <table class="table table-bordered table-condensed text-center font-small">
        <tbody ng-repeat="(index, card) in cards">
        <tr ng-class-even="'even'">
          <td rowspan="3" class="middle">{{index + 1}}</td>
          <td class="middle star">
            <label>星级</label>
            <select class="form-control" ng-model="card.star" ng-options="s for s in star" ng-change="levelChange(index)"></select>
          </td>
          <td class="middle">
            <label>等级</label>
            <select class="form-control" ng-model="card.level" ng-options="l for l in level[card.star]"></select>
          </td>
          <td class="middle">
            <label>卡名</label>
            <input type="text" class="form-control" placeholder="请输入卡名" ng-model="card.name">
          </td>
          <td class="middle">
            <label>角色</label>
            <select class="form-control" ng-model="card.character" ng-options="c for c in character"></select>
          </td>
        </tr>
        <tr ng-class-even="'even'">
          <td colspan="2" class="middle danger" width="33%">
            <label>舞蹈（<span class="text-danger">红</span>）</label>
            <input type="number" class="form-control" placeholder="请输入舞蹈数值" ng-model="card.da">
          </td>
          <td class="middle info" width="33%">
            <label>声乐（<span class="text-primary">蓝</span>）</label>
            <input type="number" class="form-control" placeholder="请输入声乐数值" ng-model="card.vo">
          </td>
          <td class="middle warning" width="33%">
            <label>表演（<span class="text-warning">黄</span>）</label>
            <input type="number" class="form-control" placeholder="请输入表演数值" ng-model="card.pf">
          </td>
        </tr>
        <tr ng-class-even="'even'">
          <td colspan="2" class="middle">
            <label>倍卡</label>
            <div>
              <label ng-click="times_radio(index, true)"><input type="radio" name="times2-{{index}}" value="true" ng-checked="card.times==true">是</label>
              <label ng-click="times_radio(index, false)"><input type="radio" name="times2-{{index}}" value="false" ng-checked="card.times==false">否</label>
            </div>
          </td>
          <td class="middle">
            <label>增减操作</label>
            <div class="nowrap">
              <a href="javascript:;" class="glyphicon glyphicon-plus text-primary" title="新增卡片" ng-click="cardAdd(index)"></a>
              <a href="javascript:;" class="glyphicon glyphicon-remove text-danger" title="删除此卡片" ng-click="cardRemove(index)" ng-if="cards.length>1"></a>
            </div>
          </td>
          <td class="middle">
            <label>移动操作</label>
            <div class="nowrap">
              <a href="javascript:;" class="glyphicon glyphicon-arrow-up text-success" title="上移" ng-click="cardUp(index)" ng-if="index > 0"></a>
              <a href="javascript:;" class="glyphicon glyphicon-arrow-down text-success" title="下移" ng-click="cardDown(index)" ng-if="index < cards.length-1"></a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
<script src="dev.js?1809101000"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-87943396-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
