<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>偶像梦幻祭演唱会组队</title>
  <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//cdn.bootcss.com/angular.js/1.5.8/angular.min.js"></script>
  <style>
    *{
      font-family: "Microsoft Yahei", "Simsun";
    }
    a:focus, a:hover{
      text-decoration: none;
    }
    .nowrap{
      white-space: nowrap;
    }
    .table{
      background-color: #f5f5f5;
    }
    .table>tbody>tr>td.middle{
      vertical-align: middle;
    }
    .table>tbody>tr.even{
      background-color: #e9e9e9;
    }
    .table-condensed2>tbody>tr>td{
      padding: 2px;
    }
    label{
      margin-bottom: 0;
    }
    .font-small, .font-small input, .font-small select{
      font-size: 12px;
    }
    .star{
      min-width: 80px;
    }
    .team-title{
      font-size: 24px;
    }
    .title-md, .btns-md{
      display: block;
    }
    .title-sm, .btns-sm{
      display: none;
    }
    @media (max-width:550px) {
      .title-md, .btns-md{
        display: none;
      }
      .title-sm, .btns-sm{
        display: block;
      }
      .form-control{
        padding: 2px;
      }
      .table-condensed>tbody>tr>td{
        padding: 2px;
      }
      .font-small, .font-small input, .font-small select{
        font-size: 12px;
      }
      .star{
        min-width: 45px;
      }
      .team{
        font-size: 12px;
      }
      .team-name{
        line-height: 1.2;
        width: 1ex;
        word-break: break-all;
        white-space: pre-wrap;
      }
      .team-title{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
        padding-bottom: 5px;
      }
    }
    @media (max-width:410px) {
      .font-small, .font-small input, .font-small select{
        font-size: 11px;
      }
      .star{
        min-width: 45px;
      }
      .team{
        font-size: 11px;
      }
      .team-title{
        font-size: 18px;
      }
    }
    @media (max-width:388px) {
      select.form-control{
        padding: 0;
      }
      .font-small, .font-small input, .font-small select{
        font-size: 10px;
      }
      .star{
        min-width: 40px;
      }
      .team{
        font-size: 10px;
      }
    }
    @media (max-width:320px) {
      .font-small, .font-small input, .font-small select{
        font-size: 9px;
      }
      .star{
        min-width: 35px;
      }
      .team{
        font-size: 9px;
      }
    }
    .ub {
      display: -webkit-box;
      display: box;
    }
    .ubf1 {
      -webkit-box-flex: 1;
      box-flex: 1;
    }
    .uov {
      -webkit-box-orient: vertical;
      box-orient: vertical;
    }
    .uac {
      -webkit-box-align: center;
      box-align: center;
    }
    .uae {
      -webkit-box-align: end;
      box-align: end;
    }
    .upc {
      -webkit-box-pack: center;
      box-pack: center;
    }
    .upe {
      -webkit-box-pack: end;
      box-pack: end;
    }
  </style>
</head>
<body ng-app="esApp" ng-controller="esCtrl" style="display:none;">
<div class="container">
  <h1 class="title-md text-center">偶像梦幻祭演唱会组队</h1>
  <h3 class="title-sm text-center">偶像梦幻祭演唱会组队</h3>
  <p class="btns-md">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cardsModal" ng-click="loadCards()">读取/备份卡片配置</button>
    <button type="button" class="btn btn-primary" ng-click="configCharacter()">配置角色</button>
    <button type="button" class="btn btn-primary" ng-click="configTeam()">配置组队</button>
    <button type="button" class="btn btn-danger pull-right" ng-click="buildTeam()">生成队伍</button>
    <button type="button" class="btn btn-info pull-right" ng-click="hideTeam()" style="margin-right:4px;" ng-if="teamShow == true">隐藏队伍</button>
  </p>
  <p class="btns-sm">
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#cardsModal" ng-click="loadCards()">读取/备份卡片配置</button>
    <button type="button" class="btn btn-info btn-sm pull-right" ng-click="hideTeam()" ng-if="teamShow == true">隐藏队伍</button>
  </p>
  <p class="btns-sm">
    <button type="button" class="btn btn-primary btn-sm" ng-click="configCharacter()">配置角色</button>
    <button type="button" class="btn btn-primary btn-sm" ng-click="configTeam()">配置组队</button>
    <button type="button" class="btn btn-danger btn-sm pull-right" ng-click="buildTeam()">生成队伍</button>
  </p>
  <div class="modal fade" id="cardsModal" tabindex="1" role="dialog" aria-labelledby="cardsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="cardsModalLabel">读取/备份卡片配置</h4>
        </div>
        <div class="modal-body">
          <textarea class="form-control" rows="12" ng-model="cardsJson"></textarea>
          <div class="text-info">可以复制里面的内容，放到QQ收藏等常用的网络记事本内。下次需要使用时，粘贴上，点击读取配置即可还原卡片配置。</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="loadCardsJson()">读取配置</button>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeCardsModal">清空卡片</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="removeCardsModal" tabindex="2" role="dialog" aria-labelledby="removeCardsModalLabel" aria-hidden="true" style="top:160px;">
    <div class="modal-dialog modal-md">
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4>确定要清空卡片吗？</h4>
        <p>这会把您填写的所有卡片信息清空，还原到初始的状态。</p>
        <p>
          <button type="button" class="btn btn-danger" ng-click="removeCardsJson()">确定清空卡片</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </p>
      </div>
    </div>
  </div>
  <div class="modal fade" id="errorModal" tabindex="100" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true" style="top:160px;">
    <div class="modal-dialog modal-md">
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4>提示</h4>
        <p>{{errorText}}</p>
      </div>
    </div>
  </div>

  <div class="team" ng-if="teamShow">
    <div class="page-header team-title">舞蹈（<span class="text-danger">红</span>）合计值最大</div>
    <table class="table table-bordered text-center">
      <tbody>
        <tr>
          <td class="middle danger">队伍</td>
          <td class="middle danger">
            <div>合计值</div>
            <div>{{da_max_team.da}}</div>
          </td>
          <td class="middle danger">
            <div>前两队</div>
            <div>{{da_max_team.team[0].da + da_max_team.team[1].da}}</div>
          </td>
          <td class="middle danger">
            <div>第一队</div>
            <div>{{da_max_team.team[0].da}}</div>
          </td>
          <td class="middle danger">
            <div>第二队</div>
            <div>{{da_max_team.team[1].da}}</div>
          </td>
          <td class="middle danger">
            <div>第三队</div>
            <div>{{da_max_team.team[2].da}}</div>
          </td>
        </tr>
        <tr ng-repeat="(t_i, team) in da_max_team.team">
          <td class="middle danger">
            <div class="team-name" ng-if="team.name!='no_team'">{{team.name}}</div>
          </td>
          <td class="middle" ng-repeat="(c_i, card) in team.card" ng-class="cardColor(card)">
            <div>{{card.star}}★</div>
            <div ng-if="card.name!=''">【{{card.name}}】</div>
            <div>{{card.character}}</div>
            <div ng-class="timesClass(card)">{{timesVal(card, card.da)}}</div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="page-header team-title">舞蹈（<span class="text-danger">红</span>）前两队最大</div>
    <table class="table table-bordered text-center">
      <tbody>
      <tr>
        <td class="middle danger">队伍</td>
        <td class="middle danger">
          <div>合计值</div>
          <div>{{da_max_team_2.da}}</div>
        </td>
        <td class="middle danger">
          <div>前两队</div>
          <div>{{da_max_team_2.team[0].da + da_max_team_2.team[1].da}}</div>
        </td>
        <td class="middle danger">
          <div>第一队</div>
          <div>{{da_max_team_2.team[0].da}}</div>
        </td>
        <td class="middle danger">
          <div>第二队</div>
          <div>{{da_max_team_2.team[1].da}}</div>
        </td>
        <td class="middle danger">
          <div>第三队</div>
          <div>{{da_max_team_2.team[2].da}}</div>
        </td>
      </tr>
      <tr ng-repeat="(t_i, team) in da_max_team_2.team">
        <td class="middle danger">
          <div class="team-name" ng-if="team.name!='no_team'">{{team.name}}</div>
        </td>
        <td class="middle" ng-repeat="(c_i, card) in team.card" ng-class="cardColor(card)">
          <div>{{card.star}}★</div>
          <div ng-if="card.name!=''">【{{card.name}}】</div>
          <div>{{card.character}}</div>
          <div ng-class="timesClass(card)">{{timesVal(card, card.da)}}</div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="page-header team-title">声乐（<span class="text-primary">蓝</span>）合计值最大</div>
    <table class="table table-bordered text-center">
      <tbody>
      <tr>
        <td class="middle info">队伍</td>
        <td class="middle info">
          <div>合计值</div>
          <div>{{vo_max_team.vo}}</div>
        </td>
        <td class="middle info">
          <div>前两队</div>
          <div>{{vo_max_team.team[0].vo + vo_max_team.team[1].vo}}</div>
        </td>
        <td class="middle info">
          <div>第一队</div>
          <div>{{vo_max_team.team[0].vo}}</div>
        </td>
        <td class="middle info">
          <div>第二队</div>
          <div>{{vo_max_team.team[1].vo}}</div>
        </td>
        <td class="middle info">
          <div>第三队</div>
          <div>{{vo_max_team.team[2].vo}}</div>
        </td>
      </tr>
      <tr ng-repeat="(t_i, team) in vo_max_team.team">
        <td class="middle info">
          <div class="team-name" ng-if="team.name!='no_team'">{{team.name}}</div>
        </td>
        <td class="middle" ng-repeat="(c_i, card) in team.card" ng-class="cardColor(card)">
          <div>{{card.star}}★</div>
          <div ng-if="card.name!=''">【{{card.name}}】</div>
          <div>{{card.character}}</div>
          <div ng-class="timesClass(card)">{{timesVal(card, card.vo)}}</div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="page-header team-title">声乐（<span class="text-primary">蓝</span>）前两队最大</div>
    <table class="table table-bordered text-center">
      <tbody>
      <tr>
        <td class="middle info">队伍</td>
        <td class="middle info">
          <div>合计值</div>
          <div>{{vo_max_team_2.vo}}</div>
        </td>
        <td class="middle info">
          <div>前两队</div>
          <div>{{vo_max_team_2.team[0].vo + vo_max_team_2.team[1].vo}}</div>
        </td>
        <td class="middle info">
          <div>第一队</div>
          <div>{{vo_max_team_2.team[0].vo}}</div>
        </td>
        <td class="middle info">
          <div>第二队</div>
          <div>{{vo_max_team_2.team[1].vo}}</div>
        </td>
        <td class="middle info">
          <div>第三队</div>
          <div>{{vo_max_team_2.team[2].vo}}</div>
        </td>
      </tr>
      <tr ng-repeat="(t_i, team) in vo_max_team_2.team">
        <td class="middle info">
          <div class="team-name" ng-if="team.name!='no_team'">{{team.name}}</div>
        </td>
        <td class="middle" ng-repeat="(c_i, card) in team.card" ng-class="cardColor(card)">
          <div>{{card.star}}★</div>
          <div ng-if="card.name!=''">【{{card.name}}】</div>
          <div>{{card.character}}</div>
          <div ng-class="timesClass(card)">{{timesVal(card, card.vo)}}</div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="page-header team-title">表演（<span class="text-warning">黄</span>）合计值最大</div>
    <table class="table table-bordered text-center">
      <tbody>
      <tr>
        <td class="middle warning">队伍</td>
        <td class="middle warning">
          <div>合计值</div>
          <div>{{pf_max_team.pf}}</div>
        </td>
        <td class="middle warning">
          <div>前两队</div>
          <div>{{pf_max_team.team[0].pf + pf_max_team.team[1].pf}}</div>
        </td>
        <td class="middle warning">
          <div>第一队</div>
          <div>{{pf_max_team.team[0].pf}}</div>
        </td>
        <td class="middle warning">
          <div>第二队</div>
          <div>{{pf_max_team.team[1].pf}}</div>
        </td>
        <td class="middle warning">
          <div>第三队</div>
          <div>{{pf_max_team.team[2].pf}}</div>
        </td>
      </tr>
      <tr ng-repeat="(t_i, team) in pf_max_team.team">
        <td class="middle warning">
          <div class="team-name" ng-if="team.name!='no_team'">{{team.name}}</div>
        </td>
        <td class="middle" ng-repeat="(c_i, card) in team.card" ng-class="cardColor(card)">
          <div>{{card.star}}★</div>
          <div ng-if="card.name!=''">【{{card.name}}】</div>
          <div>{{card.character}}</div>
          <div ng-class="timesClass(card)">{{timesVal(card, card.pf)}}</div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="page-header team-title">表演（<span class="text-warning">黄</span>）前两队最大</div>
    <table class="table table-bordered text-center">
      <tbody>
      <tr>
        <td class="middle warning">队伍</td>
        <td class="middle warning">
          <div>合计值</div>
          <div>{{pf_max_team_2.pf}}</div>
        </td>
        <td class="middle warning">
          <div>前两队</div>
          <div>{{pf_max_team_2.team[0].pf + pf_max_team_2.team[1].pf}}</div>
        </td>
        <td class="middle warning">
          <div>第一队</div>
          <div>{{pf_max_team_2.team[0].pf}}</div>
        </td>
        <td class="middle warning">
          <div>第二队</div>
          <div>{{pf_max_team_2.team[1].pf}}</div>
        </td>
        <td class="middle warning">
          <div>第三队</div>
          <div>{{pf_max_team_2.team[2].pf}}</div>
        </td>
      </tr>
      <tr ng-repeat="(t_i, team) in pf_max_team_2.team">
        <td class="middle warning">
          <div class="team-name" ng-if="team.name!='no_team'">{{team.name}}</div>
        </td>
        <td class="middle" ng-repeat="(c_i, card) in team.card" ng-class="cardColor(card)">
          <div>{{card.star}}★</div>
          <div ng-if="card.name!=''">【{{card.name}}】</div>
          <div>{{card.character}}</div>
          <div ng-class="timesClass(card)">{{timesVal(card, card.pf)}}</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <form role="form">
    <div class="visible-lg-block">
      <table class="table table-bordered text-center">
        <thead>
        <tr>
          <td><label class="nowrap">序号</label></td>
          <td class="star"><label>星级</label></td>
          <td style="width:130px;"><label>等级</label></td>
          <td><label>卡名</label></td>
          <td><label>角色</label></td>
          <td class="danger"><label>舞蹈（<span class="text-danger">红</span>）</label></td>
          <td class="info"><label>声乐（<span class="text-primary">蓝</span>）</label></td>
          <td class="warning"><label>表演（<span class="text-warning">黄</span>）</label></td>
          <td><label>倍卡</label></td>
          <td><label>操作</label></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(index, card) in cards">
          <td class="middle">
            {{index + 1}}
          </td>
          <td class="middle">
            <select class="form-control" ng-model="card.star" ng-options="s for s in star" ng-change="levelChange(index)"></select>
          </td>
          <td class="middle">
            <select class="form-control" ng-model="card.level" ng-options="l for l in level[card.star]"></select>
          </td>
          <td class="middle">
            <input type="text" class="form-control" placeholder="请输入卡名" ng-model="card.name">
          </td>
          <td class="middle">
            <select class="form-control" ng-model="card.character" ng-options="c for c in character"></select>
          </td>
          <td class="middle danger">
            <input type="number" class="form-control" placeholder="请输入舞蹈数值" ng-model="card.da">
          </td>
          <td class="middle info">
            <input type="number" class="form-control" placeholder="请输入声乐数值" ng-model="card.vo">
          </td>
          <td class="middle warning">
            <input type="number" class="form-control" placeholder="请输入表演数值" ng-model="card.pf">
          </td>
          <td class="middle">
            <label ng-click="times_radio(index, true)"><input type="radio" name="times[{{index}}]" value="true" ng-checked="card.times==true">是</label>
            <label ng-click="times_radio(index, false)"><input type="radio" name="times[{{index}}]" value="false" ng-checked="card.times==false">否</label>
          </td>
          <td class="middle">
            <table class="table-condensed2 text-center">
              <tr>
                <td class="middle"><a href="javascript:;" class="glyphicon glyphicon-plus text-primary" title="新增卡片" ng-click="cardAdd(index)"></a></td>
                <td class="middle"><a href="javascript:;" class="glyphicon glyphicon-remove text-danger" title="删除此卡片" ng-click="cardRemove(index)" ng-if="cards.length>1"></a></td>
              </tr>
              <tr>
                <td class="middle"><a href="javascript:;" class="glyphicon glyphicon-arrow-up text-success" title="上移" ng-click="cardUp(index)" ng-if="index > 0"></a></td>
                <td class="middle"><a href="javascript:;" class="glyphicon glyphicon-arrow-down text-success" title="下移" ng-click="cardDown(index)" ng-if="index < cards.length-1"></a></td>
              </tr>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="hidden-lg">
      <table class="table table-bordered table-condensed text-center font-small">
        <tbody ng-repeat="(index, card) in cards">
        <tr ng-class-even="'even'">
          <td rowspan="3" class="middle">{{index + 1}}</td>
          <td class="middle star">
            <label>星级</label>
            <select class="form-control" ng-model="card.star" ng-options="s for s in star" ng-change="levelChange(index)"></select>
          </td>
          <td class="middle">
            <label>等级</label>
            <select class="form-control" ng-model="card.level" ng-options="l for l in level[card.star]"></select>
          </td>
          <td class="middle">
            <label>卡名</label>
            <input type="text" class="form-control" placeholder="请输入卡名" ng-model="card.name">
          </td>
          <td class="middle">
            <label>角色</label>
            <select class="form-control" ng-model="card.character" ng-options="c for c in character"></select>
          </td>
        </tr>
        <tr ng-class-even="'even'">
          <td colspan="2" class="middle danger" width="33%">
            <label>舞蹈（<span class="text-danger">红</span>）</label>
            <input type="number" class="form-control" placeholder="请输入舞蹈数值" ng-model="card.da">
          </td>
          <td class="middle info" width="33%">
            <label>声乐（<span class="text-primary">蓝</span>）</label>
            <input type="number" class="form-control" placeholder="请输入声乐数值" ng-model="card.vo">
          </td>
          <td class="middle warning" width="33%">
            <label>表演（<span class="text-warning">黄</span>）</label>
            <input type="number" class="form-control" placeholder="请输入表演数值" ng-model="card.pf">
          </td>
        </tr>
        <tr ng-class-even="'even'">
          <td colspan="2" class="middle">
            <label>倍卡</label>
            <div>
              <label ng-click="times_radio(index, true)"><input type="radio" name="times2[{{index}}]" value="true" ng-checked="card.times==true">是</label>
              <label ng-click="times_radio(index, false)"><input type="radio" name="times2[{{index}}]" value="false" ng-checked="card.times==false">否</label>
            </div>
          </td>
          <td class="middle">
            <label>增减操作</label>
            <div class="nowrap">
              <a href="javascript:;" class="glyphicon glyphicon-plus text-primary" title="新增卡片" ng-click="cardAdd(index)"></a>
              <a href="javascript:;" class="glyphicon glyphicon-remove text-danger" title="删除此卡片" ng-click="cardRemove(index)" ng-if="cards.length>1"></a>
            </div>
          </td>
          <td class="middle">
            <label>移动操作</label>
            <div class="nowrap">
              <a href="javascript:;" class="glyphicon glyphicon-arrow-up text-success" title="上移" ng-click="cardUp(index)" ng-if="index > 0"></a>
              <a href="javascript:;" class="glyphicon glyphicon-arrow-down text-success" title="下移" ng-click="cardDown(index)" ng-if="index < cards.length-1"></a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
<script src="app.js?1611222135"></script>
</body>
</html>
