<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>偶像梦幻祭演唱会组队</title>
  <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://cdn.bootcss.com/angular.js/1.5.8/angular.min.js"></script>
  <style>
    *{
      font-family: "Microsoft Yahei", "Simsun";
    }
    a:focus, a:hover{
      text-decoration: none;
    }
    .nowrap{
      white-space: nowrap;
    }
    .table{
      background-color: #f5f5f5;
    }
    .table>tbody>tr>td.middle{
      vertical-align: middle;
    }
    .table>tbody>tr.even{
      background-color: #e9e9e9;
    }
    .table-condensed2>tbody>tr>td{
      padding: 2px;
    }
    label{
      margin-bottom: 0;
    }
    .font-small, .font-small input, .font-small select{
      font-size: 12px;
    }
    .star{
      min-width: 80px;
    }
    @media (max-width:550px) {
      .form-control{
        padding: 2px;
      }
      .font-small, .font-small input, .font-small select{
        font-size: 12px;
      }
      .star{
        min-width: 60px;
      }
    }
    @media (max-width:410px) {
      .font-small, .font-small input, .font-small select{
        font-size: 11px;
      }
      .star{
        min-width: 50px;
      }
    }
    @media (max-width:388px) {
      .font-small, .font-small input, .font-small select{
        font-size: 10px;
      }
      .star{
        min-width: 50px;
      }
    }
    @media (max-width:320px) {
      .font-small, .font-small input, .font-small select{
        font-size: 9px;
      }
    }
    .ub {
      display: -webkit-box;
      display: box;
    }
    .ubf1 {
      -webkit-box-flex: 1;
      box-flex: 1;
    }
    .uov {
      -webkit-box-orient: vertical;
      box-orient: vertical;
    }
    .uac {
      -webkit-box-align: center;
      box-align: center;
    }
    .uae {
      -webkit-box-align: end;
      box-align: end;
    }
    .upc {
      -webkit-box-pack: center;
      box-pack: center;
    }
    .upe {
      -webkit-box-pack: end;
      box-pack: end;
    }
  </style>
</head>
<body ng-app="esApp" ng-controller="esCtrl">
<div class="container">
  <h1 class="text-center">偶像梦幻祭演唱会组队</h1>
  
  <p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cardsModal" ng-click="loadCards()">读取/备份卡片配置</button>
    <button type="button" class="btn btn-primary">配置角色</button>
    <button type="button" class="btn btn-primary">配置组队</button>
    <button type="button" class="btn btn-danger pull-right">生成队伍</button>
  </p>
  <div class="modal fade" id="cardsModal" tabindex="-1" role="dialog" aria-labelledby="cardsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="cardsModalLabel">读取/备份卡片配置</h4>
        </div>
        <div class="modal-body">
          <textarea class="form-control" rows="15" ng-model="cardsJson"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="loadCardsJson()">读取配置</button>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeCardsModal">清空卡片</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="removeCardsModal" tabindex="-1" role="dialog" aria-labelledby="removeCardsModalLabel" aria-hidden="true" style="top:160px;">
    <div class="modal-dialog modal-md">
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4>确定要清空卡片吗？</h4>
        <p>这会把您填写的所有卡片信息清空，还原到初始的状态。</p>
        <p>
          <button type="button" class="btn btn-danger" ng-click="removeCardsJson()">确定清空卡片</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </p>
      </div>
    </div>
  </div>

  <form role="form">
    <div class="visible-lg-block">
      <table class="table table-bordered text-center">
        <thead>
        <tr>
          <td><label class="nowrap">序号</label></td>
          <td class="star"><label>星级</label></td>
          <td><label>卡名</label></td>
          <td><label>角色</label></td>
          <td style="width:130px;"><label>等级</label></td>
          <td class="danger"><label>舞蹈（<span class="text-danger">红</span>）</label></td>
          <td class="info"><label>声乐（<span class="text-primary">蓝</span>）</label></td>
          <td class="warning"><label>表演（<span class="text-warning">黄</span>）</label></td>
          <td><label>倍卡</label></td>
          <td><label>操作</label></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(index, card) in cards">
          <td class="middle">
            {{index + 1}}
          </td>
          <td class="middle">
            <select class="form-control character" ng-model="card.star" ng-options="s for s in star"></select>
          </td>
          <td class="middle">
            <input type="text" class="form-control name" placeholder="请输入卡名" ng-model="card.name">
          </td>
          <td class="middle">
            <select class="form-control character" ng-model="card.character" ng-options="c for c in character"></select>
          </td>
          <td class="middle">
            <input type="number" class="form-control level" placeholder="请输入等级" ng-model="card.level">
          </td>
          <td class="middle danger">
            <input type="number" class="form-control da" placeholder="请输入舞蹈数值" ng-model="card.da">
          </td>
          <td class="middle info">
            <input type="number" class="form-control vo" placeholder="请输入声乐数值" ng-model="card.vo">
          </td>
          <td class="middle warning">
            <input type="number" class="form-control pf" placeholder="请输入表演数值" ng-model="card.pf">
          </td>
          <td class="middle">
            <label ng-click="times(index, true)"><input type="radio" name="times[{{index}}]" value="true" ng-checked="card.times==true">是</label>
            <label ng-click="times(index, false)"><input type="radio" name="times[{{index}}]" value="false" ng-checked="card.times==false">否</label>
          </td>
          <td class="middle">
            <table class="table-condensed2 text-center">
              <tr>
                <td class="middle"><a href="javascript:;" class="glyphicon glyphicon-plus text-primary" title="新增卡片" ng-click="cardAdd(index)"></a></td>
                <td class="middle"><a href="javascript:;" class="glyphicon glyphicon-remove text-danger" title="删除此卡片" ng-click="cardRemove(index)" ng-if="cards.length>1"></a></td>
              </tr>
              <tr>
                <td class="middle"><a href="javascript:;" class="glyphicon glyphicon-arrow-up text-success" title="上移" ng-click="cardUp(index)" ng-if="index > 0"></a></td>
                <td class="middle"><a href="javascript:;" class="glyphicon glyphicon-arrow-down text-success" title="下移" ng-click="cardDown(index)" ng-if="index < cards.length-1"></a></td>
              </tr>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="hidden-lg">
      <table class="table table-bordered table-condensed text-center font-small">
        <tbody ng-repeat="(index, card) in cards">
        <tr ng-class-even="'even'">
          <td rowspan="3" class="middle">{{index + 1}}</td>
          <td class="middle star">
            <label>星级</label>
            <select class="form-control character" ng-model="card.star" ng-options="s for s in star"></select>
          </td>
          <td class="middle">
            <label>卡名</label>
            <input type="text" class="form-control name" placeholder="请输入卡名" ng-model="card.name">
          </td>
          <td class="middle">
            <label>角色</label>
            <select class="form-control character" ng-model="card.character" ng-options="c for c in character"></select>
          </td>
          <td class="middle">
            <label>等级</label>
            <input type="number" class="form-control level" placeholder="请输入等级" ng-model="card.level">
          </td>
        </tr>
        <tr ng-class-even="'even'">
          <td colspan="2" class="middle danger" width="33%">
            <label>舞蹈（<span class="text-danger">红</span>）</label>
            <input type="number" class="form-control da" placeholder="请输入舞蹈数值" ng-model="card.da">
          </td>
          <td class="middle info" width="33%">
            <label>声乐（<span class="text-primary">蓝</span>）</label>
            <input type="number" class="form-control vo" placeholder="请输入声乐数值" ng-model="card.vo">
          </td>
          <td class="middle warning" width="33%">
            <label>表演（<span class="text-warning">黄</span>）</label>
            <input type="number" class="form-control pf" placeholder="请输入表演数值" ng-model="card.pf">
          </td>
        </tr>
        <tr ng-class-even="'even'">
          <td colspan="2" class="middle">
            <label>倍卡</label>
            <div>
              <label ng-click="times(index, true)"><input type="radio" name="times2[{{index}}]" value="true" ng-checked="card.times==true">是</label>
              <label ng-click="times(index, false)"><input type="radio" name="times2[{{index}}]" value="false" ng-checked="card.times==false">否</label>
            </div>
          </td>
          <td class="middle">
            <label>操作</label>
            <div class="nowrap">
              <a href="javascript:;" class="glyphicon glyphicon-plus text-primary" title="新增卡片" ng-click="cardAdd(index)"></a>
              <a href="javascript:;" class="glyphicon glyphicon-remove text-danger" title="删除此卡片" ng-click="cardRemove(index)" ng-if="cards.length>1"></a>
            </div>
          </td>
          <td class="middle">
            <label>操作</label>
            <div class="nowrap">
              <a href="javascript:;" class="glyphicon glyphicon-arrow-up text-success" title="上移" ng-click="cardUp(index)" ng-if="index > 0"></a>
              <a href="javascript:;" class="glyphicon glyphicon-arrow-down text-success" title="下移" ng-click="cardDown(index)" ng-if="index < cards.length-1"></a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
<script>
  var app = angular.module('esApp', []);
  app.controller('esCtrl', function($scope) {
    $scope.star = [5, 4, 3, 2, 1];
    $scope.character = character;
    var cards = window.localStorage.getItem('cards');
    if(cards == null){
      $scope.cards = [{
        star: 5,
        level: '',
        name: '',
        character: '南云铁虎',
        da: '',
        vo: '',
        pf: '',
        times: false,
      }];
      $scope.cardsJson = angular.toJson($scope.cards);
    }else{
      $scope.cardsJson = cards;
      $scope.cards = angular.fromJson($scope.cardsJson);
    }
    $scope.$watch("cards", function(n, o){
      if(n == o){
        return;
      }
      $scope.cardsJson = angular.toJson($scope.cards);
      window.localStorage.setItem('cards', $scope.cardsJson);
    },true)
    $scope.loadCards = function(){
      $scope.cardsJson = angular.toJson($scope.cards);
      window.localStorage.setItem('cards', $scope.cardsJson);
    }
    $scope.loadCardsJson = function(){
      $scope.cards = angular.fromJson($scope.cardsJson);
      $('#cardsModal').modal('hide');
    }
    $scope.removeCardsJson = function(){
      $scope.cards = [{
        star: 5,
        level: '',
        name: '',
        character: '南云铁虎',
        da: '',
        vo: '',
        pf: '',
        times: false,
      }];
      $scope.cardsJson = angular.toJson($scope.cards);
      $('#cardsModal').modal('hide');
      $('#removeCardsModal').modal('hide');
    }
    $scope.times = function(index, times){
      $scope.cards[index].times = times;
    }
    $scope.cardAdd = function(index){
      $scope.cards.splice(index+1, 0, {
        star: 5,
        level: '',
        name: '',
        character: '南云铁虎',
        da: '',
        vo: '',
        pf: '',
        times: false,
      });
    }
    $scope.cardRemove = function(index){
      $scope.cards.splice(index,1);
    }
    $scope.cardUp = function(index){
      var tempcard = $scope.cards[index];
      $scope.cards[index] = $scope.cards[index-1];
      $scope.cards[index-1] = tempcard;
    }
    $scope.cardDown = function(index){
      var tempcard = $scope.cards[index];
      $scope.cards[index] = $scope.cards[index+1];
      $scope.cards[index+1] = tempcard;
    }
  });
  
  var character = [
    '南云铁虎',
    '紫之创',
    '真白友也',
    '葵日向',
    '高峰翠',
    '姬宫桃李',
    '仙石忍',
    '葵裕太',
    '天满光',
    '朱樱司',
    '明星昴流',
    '冰鹰北斗',
    '游木真',
    '神崎飒马',
    '乙狩阿多尼斯',
    '大神晃牙',
    '朔间凛月',
    '衣更真绪',
    '伏见弓弦',
    '鸣上岚',
    '莲巳敬人',
    '天祥院英智',
    '羽风薰',
    '濑名泉',
    '守泽千秋',
    '鬼龙红郎',
    '日日树涉',
    '深海奏汰',
    '朔间零',
    '仁兔成鸣',
    '月永雷欧',
  ];
  
  var team = [
    //临时队伍start
    {
      name: '任务完成',
      ability: 'vo',
      value: 0.10,
      member: ['衣更真绪', '莲巳敬人', '天祥院英智', '姬宫桃李']
    },
    //临时队伍end
    {
      name: 'Trickstar',
      ability: 'da',
      value: 0.13,
      member: ['明星昴流', '冰鹰北斗', '游木真', '衣更真绪']
    },
    {
      name: 'Fine',
      ability: 'pf',
      value: 0.13,
      member: ['天祥院英智', '日日树涉', '伏见弓弦', '姬宫桃李']
    },
    {
      name: 'Undead',
      ability: 'da',
      value: 0.13,
      member: ['朔间零', '大神晃牙', '羽风薰', '乙狩阿多尼斯']
    },
    {
      name: 'Knights',
      ability: 'pf',
      value: 0.18,
      member: ['濑名泉', '朔间凛月', '鸣上岚', '朱樱司', '月永雷欧']
    },
    {
      name: '流星队',
      ability: 'vo',
      value: 0.18,
      member: ['南云铁虎', '高峰翠', '仙石忍', '深海奏汰', '守泽千秋']
    },
    {
      name: 'Ra*bits',
      ability: 'vo',
      value: 0.13,
      member: ['紫之创', '天满光', '真白友也', '仁兔成鸣']
    },
    {
      name: '红月',
      ability: 'da',
      value: 0.10,
      member: ['神崎飒马', '鬼龙红郎', '莲巳敬人']
    },
    {
      name: '2Wink',
      ability: 'vo',
      value: 0.05,
      member: ['葵日向', '葵裕太']
    },
    {
      name: '篮球部',
      ability: 'vo',
      value: 0.13,
      member: ['明星昴流', '衣更真绪', '守泽千秋', '高峰翠']
    },
    {
      name: '演剧部',
      ability: 'pf',
      value: 0.10,
      member: ['冰鹰北斗', '日日树涉', '真白友也']
    },
    {
      name: '网球部',
      ability: 'pf',
      value: 0.10,
      member: ['游木真', '姬宫桃李', '濑名泉', '仁兔成鸣']
    },
    {
      name: '红茶部',
      ability: 'vo',
      value: 0.10,
      member: ['天祥院英智', '朔间凛月', '紫之创']
    },
    {
      name: '弓道部',
      ability: 'da',
      value: 0.13,
      member: ['伏见弓弦', '朱樱司', '莲巳敬人', '月永雷欧']
    },
    {
      name: '轻音部',
      ability: 'da',
      value: 0.13,
      member: ['朔间零', '大神晃牙', '葵日向', '葵裕太']
    },
    {
      name: '海洋生物部',
      ability: 'pf',
      value: 0.10,
      member: ['羽风薰', '深海奏汰', '神崎飒马']
    },
    {
      name: '田径部',
      ability: 'vo',
      value: 0.10,
      member: ['乙狩阿多尼斯', '鸣上岚', '天满光']
    },
    {
      name: '空手道部',
      ability: 'da',
      value: 0.05,
      member: ['南云铁虎', '鬼龙红郎']
    },
    {
      name: '忍者同好会',
      ability: 'pf',
      value: 0.02,
      member: ['仙石忍']
    },
    {
      name: '学生会执行部',
      ability: 'vo',
      value: 0.13,
      member: ['姬宫桃李', '衣更真绪', '天祥院英智', '莲巳敬人']
    },
    {
      name: '广播委员会',
      ability: 'da',
      value: 0.10,
      member: ['仙石忍', '仁兔成鸣', '游木真']
    },
    {
      name: '名门子弟',
      ability: 'da',
      value: 0.10,
      member: ['天祥院英智', '朱樱司', '姬宫桃李']
    },
    {
      name: '智慧眼镜',
      ability: 'vo',
      value: 0.05,
      member: ['莲巳敬人', '游木真']
    },
    {
      name: '擅长缝纫',
      ability: 'pf',
      value: 0.05,
      member: ['鬼龙红郎', '紫之创']
    },
    {
      name: '左撇子',
      ability: 'pf',
      value: 0.10,
      member: ['葵裕太', '朔间凛月', '天祥院英智']
    },
    {
      name: '模特经验者',
      ability: 'da',
      value: 0.10,
      member: ['游木真', '鸣上岚', '濑名泉']
    },
    {
      name: '花粉症',
      ability: 'vo',
      value: 0.05,
      member: ['衣更真绪', '大神晃牙']
    },
    {
      name: '朔间兄弟',
      ability: 'vo',
      value: 0.05,
      member: ['朔间零', '朔间凛月']
    },
    {
      name: '三奇人',
      ability: 'pf',
      value: 0.10,
      member: ['朔间零', '日日树涉', '深海奏汰']
    },
    {
      name: '最喜欢妹妹',
      ability: 'da',
      value: 0.05,
      member: ['月永雷欧', '鬼龙红郎']
    },
  ];
</script>
<script>
  var card = [];
  var times = {
    3:{
      40: 2,
      45: 2.5,
      50: 3,
      55: 3.5,
      60: 4,
    },
    4:{
      50: 2,
      55: 2.5,
      60: 3,
      65: 3.5,
      70: 4,
    },
    5:{
      60: 2,
      65: 2.5,
      70: 3,
      75: 3.5,
      80: 4,
    },
  };

  var da_card = [], vo_card = [], pf_card = [];
  da_card = da_card.concat(card);
  da_card.sort(function (a, b) {
    var a_da = a.da, b_da = b.da;
    if(a.times && typeof(times[a.star]) != 'undefined' && typeof(times[a.star][a.level]) != 'undefined'){
      a_da *= times[a.star][a.level];
    }
    if(b.times && typeof(times[b.star]) != 'undefined' && typeof(times[b.star][b.level]) != 'undefined'){
      b_da *= times[a.star][a.level];
    }
    return b_da - a_da;
  });
  vo_card = vo_card.concat(card);
  vo_card.sort(function (a, b) {
    var a_vo = a.vo, b_vo = b.vo;
    if(a.times && typeof(times[a.star]) != 'undefined' && typeof(times[a.star][a.level]) != 'undefined'){
      a_vo *= times[a.star][a.level];
    }
    if(b.times && typeof(times[b.star]) != 'undefined' && typeof(times[b.star][b.level]) != 'undefined'){
      b_vo *= times[a.star][a.level];
    }
    return b_vo - a_vo;
  });
  pf_card = pf_card.concat(card);
  pf_card.sort(function (a, b) {
    var a_pf = a.pf, b_pf = b.pf;
    if(a.times && typeof(times[a.star]) != 'undefined' && typeof(times[a.star][a.level]) != 'undefined'){
      a_pf *= times[a.star][a.level];
    }
    if(b.times && typeof(times[b.star]) != 'undefined' && typeof(times[b.star][b.level]) != 'undefined'){
      b_pf *= times[a.star][a.level];
    }
    return b_pf - a_pf;
  });

  var da_team = [], vo_team = [], pf_team = [];
  for (i in team) {
    if (team[i].ability == 'da') {
      da_team.push(team[i]);
    } else if (team[i].ability == 'vo') {
      vo_team.push(team[i]);
    } else if (team[i].ability == 'pf') {
      pf_team.push(team[i]);
    }
  }
  da_team = da_team.concat(team_concat(da_team));
  vo_team = vo_team.concat(team_concat(vo_team));
  pf_team = pf_team.concat(team_concat(pf_team));
  function team_concat(team) {
    var temp_team = [];
    for (t1 in team) {
      for (t2 in team) {
        if (t1 < t2) {
          var flag = false;
          for (var m = 0; !flag && m < team[t1].member.length; m++) {
            if ($.inArray(team[t1].member[m], team[t2].member) > -1) {
              flag = true;
            }
          }
          if (flag) {
            var temp_team_concat = [];
            temp_team_concat = temp_team_concat.concat(team[t1].member, team[t2].member);
            temp_team_concat = $.uniqueSort(temp_team_concat);
            if (temp_team_concat.length <= 5) {
              var character = temp_team_concat[m - 1];
              temp_team_concat.unshift(character);
              temp_team_concat = $.uniqueSort(temp_team_concat);
              temp_team.push({
                name: team[t1].name + ' + ' + team[t2].name,
                ability: team[t1].ability,
                value: Number((team[t1].value + team[t2].value).toFixed(2)),
                member: temp_team_concat,
              });
            }
          }
        }
      }
    }
    return temp_team;
  }

  var da_all_team = [], vo_all_team = [], pf_all_team = [];
  var da_max_team, vo_max_team, pf_max_team;
  /*da_max_team = max_team(da_team, da_card, 'da');
  vo_max_team = max_team(vo_team, vo_card, 'vo');
  pf_max_team = max_team(pf_team, pf_card, 'pf');
  da_max_team_2 = max_team(da_team, da_card, 'da_2');
  vo_max_team_2 = max_team(vo_team, vo_card, 'vo_2');
  pf_max_team_2 = max_team(pf_team, pf_card, 'pf_2');
  console.log(da_max_team);
  console.log(vo_max_team);
  console.log(pf_max_team);
  console.log(da_max_team_2);
  console.log(vo_max_team_2);
  console.log(pf_max_team_2);*/

  function max_team(team, card, ability) {
    var temp_team = {
      card: [],
      key: [],
      team: [
        {
          name: 'no_team',
          da: 0,
          vo: 0,
          pf: 0,
          all: 0,
          member: [],
        },
        {
          name: 'no_team',
          da: 0,
          vo: 0,
          pf: 0,
          all: 0,
          member: [],
        },
        {
          name: 'no_team',
          da: 0,
          vo: 0,
          pf: 0,
          all: 0,
          member: [],
        },
      ],
      da: 0,
      vo: 0,
      pf: 0,
      all: 0,
    };
    var all_team = [];
    for (var t1 = 0; t1 <= team.length; t1++) {
      if (t1 < team.length) {
        var k1 = t1;
      } else {
        var k1 = 'no_team';
      }
      if (all_team[k1] == null) {
        all_team[k1] = [];
      }
      for (var t2 = 0; t2 <= team.length; t2++) {
        if (t2 < team.length) {
          var k2 = t2;
        } else {
          var k2 = 'no_team';
        }
        if (all_team[k1][k2] == null) {
          all_team[k1][k2] = [];
        }
        for (var t3 = 0; t3 <= team.length; t3++) {
          if (t3 < team.length) {
            var k3 = t3;
          } else {
            var k3 = 'no_team';
          }
          if (all_team[k1][k2][k3] == null) {
            all_team[k1][k2][k3] = {};
          }
        }
      }
    }

    for (t1 in all_team) {
      for (t2 in all_team[t1]) {
        for (t3 in all_team[t1][t2]) {
          all_team[t1][t2][t3] = member(card, team, t1, t2, t3);
        }
      }
    }

    if(ability == 'da' && da_all_team == []){
      da_all_team = da_all_team.concat(all_team);
    }else if(ability == 'vo' && vo_all_team == []){
      vo_all_team = vo_all_team.concat(all_team);
    }else if(ability == 'pf' && pf_all_team == []){
      pf_all_team = pf_all_team.concat(all_team);
    }

    var num = 0;
    for (t1 in all_team) {
      for (t2 in all_team[t1]) {
        for (t3 in all_team[t1][t2]) {
          if(ability == 'da' && temp_team.da < all_team[t1][t2][t3].da){
            temp_team = all_team[t1][t2][t3];
          }else if(ability == 'vo' && temp_team.vo < all_team[t1][t2][t3].vo){
            temp_team = all_team[t1][t2][t3];
          }else if(ability == 'pf' && temp_team.pf < all_team[t1][t2][t3].pf){
            temp_team = all_team[t1][t2][t3];
          }else if(ability == 'all' && temp_team.all < all_team[t1][t2][t3].all){
            temp_team = all_team[t1][t2][t3];
          }else if(ability == 'da_2'){
          	var temp_max_2da = 0, max_2da = 0;
            for(var tt1 in temp_team.team){
            	for(var tt2 in temp_team.team){
	            	if(tt1 < tt2){
	            		var da = temp_team.team[tt1].da + temp_team.team[tt2].da;
	            		temp_max_2da = temp_max_2da < da ? da : temp_max_2da;
	            	}
	            }
            }
            for(var tt1 in all_team[t1][t2][t3].team){
            	for(var tt2 in all_team[t1][t2][t3].team){
	            	if(tt1 < tt2){
	            		var da = all_team[t1][t2][t3].team[tt1].da + all_team[t1][t2][t3].team[tt2].da;
	            		max_2da = max_2da < da ? da : max_2da;
	            	}
	            }
            }
            if(temp_max_2da < max_2da){
            	temp_team = all_team[t1][t2][t3];
            }
          }else if(ability == 'vo_2'){
          	var temp_max_2vo = 0, max_2vo = 0;
            for(var tt1 in temp_team.team){
            	for(var tt2 in temp_team.team){
	            	if(tt1 < tt2){
	            		var vo = temp_team.team[tt1].vo + temp_team.team[tt2].vo;
	            		temp_max_2vo = temp_max_2vo < vo ? vo : temp_max_2vo;
	            	}
	            }
            }
            for(var tt1 in all_team[t1][t2][t3].team){
            	for(var tt2 in all_team[t1][t2][t3].team){
	            	if(tt1 < tt2){
	            		var vo = all_team[t1][t2][t3].team[tt1].vo + all_team[t1][t2][t3].team[tt2].vo;
	            		max_2vo = max_2vo < vo ? vo : max_2vo;
	            	}
	            }
            }
            if(temp_max_2vo < max_2vo){
            	temp_team = all_team[t1][t2][t3];
            }
          }else if(ability == 'pf_2'){
          	var temp_max_2pf = 0, max_2pf = 0;
            for(var tt1 in temp_team.team){
            	for(var tt2 in temp_team.team){
	            	if(tt1 < tt2){
	            		var pf = temp_team.team[tt1].pf + temp_team.team[tt2].pf;
	            		temp_max_2pf = temp_max_2pf < pf ? pf : temp_max_2pf;
	            	}
	            }
            }
            for(var tt1 in all_team[t1][t2][t3].team){
            	for(var tt2 in all_team[t1][t2][t3].team){
	            	if(tt1 < tt2){
	            		var pf = all_team[t1][t2][t3].team[tt1].pf + all_team[t1][t2][t3].team[tt2].pf;
	            		max_2pf = max_2pf < pf ? pf : max_2pf;
	            	}
	            }
            }
            if(temp_max_2pf < max_2pf){
            	temp_team = all_team[t1][t2][t3];
            }
          }
        }
      }
    }

    var ab = 'da';
    if(ability == 'da' || ability == 'da_2') {
      ab = 'da';
    }else if(ability == 'vo' || ability == 'vo_2'){
      ab = 'vo';
    }else if(ability == 'pf' || ability == 'pf_2'){
      ab = 'pf';
    }else if(ability == 'all'){
      ab = 'all';
    }
    temp_team.team.sort(function (a, b) {
      if(b[ab] - a[ab] > 0){
        var a_key = 0, b_key = 0;
        for(var i in temp_team.team){
          if(temp_team.team[i] == a){
            a_key = i;
          }else if(temp_team.team[i] == b){
            b_key = i;
          }
        }
        var tempcard = [];
        tempcard = tempcard.concat(temp_team.card);
        temp_team.card.sort(function (c, d) {
          var c_key = 0, d_key = 0;
          for(var j in tempcard){
            if(tempcard[j] == c){
              c_key = j;
            }else if(tempcard[j] == d){
              d_key = j;
            }
          }
          var new_c_key = c_key, new_d_key = d_key;
          if(c_key >= a_key * 5 && c_key < a_key * 5 + 5){
            new_c_key = c_key - 0 + 5;
          }
          if(c_key >= b_key * 5 && c_key < b_key * 5 + 5){
            new_c_key = c_key - 5;
          }
          if(d_key >= a_key * 5 && d_key < a_key * 5 + 5){
            new_d_key = d_key - 0 + 5;
          }
          if(d_key >= b_key * 5 && d_key < b_key * 5 + 5){
            new_d_key = d_key - 5;
          }
          return new_c_key - new_d_key;
        });
        var tempkey = [];
        tempkey = tempkey.concat(temp_team.key);
        temp_team.key.sort(function (c, d) {
          var c_key = 0, d_key = 0;
          for(var j in tempkey){
            if(tempkey[j] == c){
              c_key = j;
            }else if(tempkey[j] == d){
              d_key = j;
            }
          }
          var new_c_key = c_key, new_d_key = d_key;
          if(c_key >= a_key * 5 && c_key < a_key * 5 + 5){
            new_c_key = c_key - 0 + 5;
          }
          if(c_key >= b_key * 5 && c_key < b_key * 5 + 5){
            new_c_key = c_key - 5;
          }
          if(d_key >= a_key * 5 && d_key < a_key * 5 + 5){
            new_d_key = d_key - 0 + 5;
          }
          if(d_key >= b_key * 5 && d_key < b_key * 5 + 5){
            new_d_key = d_key - 5;
          }
          return new_c_key - new_d_key;
        });
      }
      return b[ab] - a[ab];
    });

    return temp_team;
  }
  function member(card, team, t1, t2, t3){
    var temp_team = {
      card: [],
      key: [],
      team: [
        {
          name: t1 != 'no_team' ? team[t1].name : 'no_team',
          da: 0,
          vo: 0,
          pf: 0,
          all: 0,
          member: [],
        },
        {
          name: t2 != 'no_team' ? team[t2].name : 'no_team',
          da: 0,
          vo: 0,
          pf: 0,
          all: 0,
          member: [],
        },
        {
          name: t3 != 'no_team' ? team[t3].name : 'no_team',
          da: 0,
          vo: 0,
          pf: 0,
          all: 0,
          member: [],
        },
      ],
      da: 0,
      vo: 0,
      pf: 0,
      all: 0,
    };
    
    var num = 0;
    $.each([t1, t2, t3], function(team_key, team_value){
      num = num%5 == 0 ? num : num + 5 - num%5;
      if(team_value != 'no_team'){
        for(m in team[team_value].member){
          var character = team[team_value].member[m];
          for(var i = 0, j = 0, max = 1, flag = false; j < max && i < card.length; flag && ((temp_team.key[num] = i, num++) || true) && j++, i++){
            if($.inArray(i, temp_team.key) == -1 && $.inArray(card[i].character, temp_team.team[team_key].member) == -1 && card[i].character == character){
              flag = true;
              temp_team.team[team_key].member.push(card[i].character);
              temp_team.card[num] = card[i];
            }else{
              flag = false;
            }
          }
        }
      }
    });

    num = 0;
    $.each([t1, t2, t3], function(team_key, team_value){
      num = num%5 == 0 ? num : num + 5 - num%5;
      if(team_value == 'no_team'){
        for(var i = 0, j = 0, max = 5, flag = false; j < max && i < card.length; flag && ((temp_team.key[num] = i, num++) || true) && j++, i++){
          if($.inArray(i, temp_team.key) == -1 && $.inArray(card[i].character, temp_team.team[team_key].member) == -1){
            flag = true;
            temp_team.team[team_key].member.push(card[i].character);
            temp_team.card[num] = card[i];
          }else{
            flag = false;
          }
        }
      }else{
        var member_length = 0;
        for(var i = 0; i < 5; i++){
          if(temp_team.card[num + i] != null){
            member_length++;
          }
        }
        if(member_length < team[team_value].member.length){
          for(var i = 0; i < 5; i++){
            temp_team.card[num + i] = null;
            temp_team.key[num + i] = null;
          }
          temp_team.team[team_key].member = [];
          num += 5;
        }else if(member_length < 5){
          num += member_length;
          for(var i = 0, j = 0, max = 5 - member_length, flag = false; j < max && i < card.length; flag && ((temp_team.key[num] = i, num++) || true) && j++, i++){
            if($.inArray(i, temp_team.key) == -1 && $.inArray(card[i].character, temp_team.team[team_key].member) == -1){
              flag = true;
              temp_team.team[team_key].member.push(card[i].character);
              temp_team.card[num] = card[i];
            }else{
              flag = false;
            }
          }
        }else{
        	num += 5;
        }
      }
    });
    
    num = 0;
    $.each([t1, t2, t3], function(team_key, team_value){
      num = num%5 == 0 ? num : num + 5 - num%5;
      if(temp_team.card[num] == null){
      	temp_team.team[team_key].name = 'no_team';
        for(var i = 0, j = 0, max = 5, flag = false; j < max && i < card.length; flag && ((temp_team.key[num] = i, num++) || true) && j++, i++){
          if($.inArray(i, temp_team.key) == -1 && $.inArray(card[i].character, temp_team.team[team_key].member) == -1){
            flag = true;
            temp_team.team[team_key].member.push(card[i].character);
            temp_team.card[num] = card[i];
          }else{
            flag = false;
          }
        }
      }else{
      	num += 5;
    	}
    });
    
    num = 0;
    $.each([t1, t2, t3], function(team_key, team_value){
      var da = 0, vo = 0, pf = 0, all = 0;
      for(var i = 0; i < 5; i++){
        if(temp_team.card[num + i] != null){
          if(temp_team.card[num + i].times && typeof(times[temp_team.card[num + i].star]) != 'undefined' && typeof(times[temp_team.card[num + i].star][temp_team.card[num + i].level]) != 'undefined'){
            da += parseInt(temp_team.card[num + i].da * times[temp_team.card[num + i].star][temp_team.card[num + i].level]);
            vo += parseInt(temp_team.card[num + i].vo * times[temp_team.card[num + i].star][temp_team.card[num + i].level]);
            pf += parseInt(temp_team.card[num + i].pf * times[temp_team.card[num + i].star][temp_team.card[num + i].level]);
          }else{
            da += temp_team.card[num + i].da;
            vo += temp_team.card[num + i].vo;
            pf += temp_team.card[num + i].pf;
          }
        }
      }
      if(temp_team.team[team_key].name != 'no_team'){
        if(team[team_value].ability == 'da'){
          da = parseInt(da * (1 + team[team_value].value));
        }else if(team[team_value].ability == 'vo'){
          vo = parseInt(vo * (1 + team[team_value].value));
        }else if(team[team_value].ability == 'pf'){
          pf = parseInt(pf * (1 + team[team_value].value));
        }
      }
      temp_team.team[team_key].da = da;
      temp_team.team[team_key].vo = vo;
      temp_team.team[team_key].pf = pf;
      temp_team.team[team_key].all = da + vo + pf;
      temp_team.da += da;
      temp_team.vo += vo;
      temp_team.pf += pf;
      temp_team.all += da + vo + pf;
      num += 5;
    });

    return temp_team;
  }

</script>
</body>
</html>
